.H6-NpN {
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    box-sizing: border-box;
    padding: 8px;
}

._1TOQfO {
    display: flex;
    align-items: center;
}

._38VF5e {
    padding: 0 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

._3RX0a- {
    display: flex;
    justify-content: center;
    align-items: center;
}

._38VF5e {
    padding: 0 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

._3RX0a- {
    display: flex;
    justify-content: center;
    align-items: center;
}

._1krdK5 {
    color: #000;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.H6-NpN {
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    box-sizing: border-box;
    padding: 8px;
}

._1TOQfO, ._3pKU-e {
    display: flex;
    align-items: center;
}

.-dOa_b, ._3pKU-e {
    width: 24px;
    height: 24px;
}

.navbar {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: fixed;
    width: 100%;
}

.menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 8px;
  }
  
  .H6-NpN:hover .menu {
    display: block;
  }
  
  .menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .menu li {
    margin-bottom: 8px;
  }
  
  .menu li a {
    color: black;
    text-decoration: none;
  }
  
  .menu li a:hover {
    text-decoration: underline;
  }
  
  .menu-container {
    position: relative;
  }
  
  .menu {
    display: none;
    position: absolute;
    top: calc(100% + 5px); /* Position the menu just below the button */
    left: -63px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 8px;
  }
  
  .menu-container:hover .menu {
    display: block;
  }
  
  .menu .menuList {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .menu div {
    margin-bottom: 8px;
    width: 200px;
  }
  
  .menu div a {
    color: black;
    text-decoration: none;
  }
  
  .menu div a:hover {
    text-decoration: none;
  }
  
  .menuList div:hover {
    background-color: aqua;
  }

  .menuList > p {
    background-color: yellow;
  }

  .menuList {
    padding: 0;
    margin: 0;
  }

  p {
    display: flex;
    background-color: blue;
  }